$breakpoint-desktop: 1093px;
$breakpoint-phone: 568px;

.header-home{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #04BFAD;
    align-items: center;
    justify-content: space-evenly;
}
.logo-home{
    width: 162px;
    height: 162px;
    transform: rotate(30deg);
}
.sect-logo {
    display: flex;
    flex-direction: row-reverse;
    width: 40%;
    max-width: 250px;
    color: #151616;
    font-family: 'Lobster Two', cursive;
    line-height: 130%;
    font-size: 80px;
    text-align: right;
}
.sect-nav{
    display: flex;
    width: 60%;
    font-family: 'Comfortaa', cursive;
    padding-bottom: 70px;
    justify-content: space-between;
}
.btn-nav {
    font-size: 22px;
    text-align: center;
}
.btn-nav img {
    width: 110px;
}

@media (min-width: $breakpoint-desktop) {
    .logo-home{
        width: 130px;
        height: 130px;
        transform: rotate(30deg);
    }
    .sect-logo {
        font-size: 70px;
    }
   .sect-nav{
        justify-content: space-around;
   }
   .btn-nav img {
        width: 90px;
    }
}

@media (min-width: $breakpoint-phone) and (max-width: 1092px) {
    .logo-home{
        width: 80px;
        height: 80px;
        transform: rotate(30deg);
    }
    .sect-logo {
        font-size: 50px;
        padding-right: 50px;
    }
    .btn-nav img {
        width: 80px;
    }
}

@media (min-width: 320px) and (max-width: 400px) {
    .logo-home{
        width: 68px;
        height: 68px;
    }
    .sect-logo {
        line-height: 80%;
        padding-left: 50px;
        h1 {
            font-size: 72px;
        }
    }
    .btn-nav {
        font-size: 15px;
        text-align: center;
    }
    .btn-nav img {
        width: 68px;
    }
}