$font: 'Comfortaa', cursive;
$blueColor: #04BFAD;
$blackColor: #151616;

.orders-chef {
    min-height: 100vh;
    background-color: $blackColor;
    color: white;
}
.orders-chef-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 15px;
}
.timer {
    padding: 5px;
    color: $blueColor;
}