$font: 'Comfortaa', cursive;
$blueColor: #04BFAD;
$blackColor: #151616;

.sect-order {
    min-height: 100vh;
    background-color: $blackColor;
    color: white;
}
.orders-container{
    border: 2px solid rgb(147, 145, 248);
}
.order-list {
    margin: 5px;
    border: 1px solid rgb(245, 150, 7);
}