$font: 'Comfortaa', cursive;
$blueColor: #04BFAD;
$blackColor: #151616;

.sect-order {
    min-height: 100vh;
    background-color: $blackColor;
    color: white;
}
.orders-container {
    display: flex;
    justify-content: space-evenly;
}
.card-order {
    margin: 5px;
    font-family: $font;
    width: 45%;
    border: 2px solid $blueColor;
    border-radius: 10px;
}
.info-order {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px 10px 20px;
}
.product-order {
    display: flex;
    justify-content: space-around;
    line-height: 25px;
    p {
        width: 30%;
        text-align: center;
    }
}
.total-price-order{
    display: flex;
    justify-content: flex-end;
    padding: 5px 20px;
}